.indi {
  position: relative;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  // text-align: center;
  align-self: center;
  height: 60%;
  width: 95%;
  background-color:transparent;
  display: inline;
  float: right;
}
.images {
  align-self: center;
  height: 40%;
  width: 90%;
  margin-top: 20px;
}
p{
  font-size: 0.95rem;
}