.indi {
  position: relative;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  // text-align: center;
  align-self: center;
  height: 140px;
  width: 95%;
  background-color: #ffffff;
  display: inline;
  float: right;
}
.images {
  align-self: center;
  height: 45%;
  width: 90%;
  margin-top: 20px;
}