.innerContainer {
  position: relative;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 35px;
  text-align: center;
  align-self: center;
  height: 100px;
  border-radius: 20px;
  width: 95%;
  background-color: #00b28c;
  display: inline;
  float: right;
}