.innerContainer {
  position: relative;
  padding-top: 3%;
  padding-right: 3%;
  padding-left: 3%;
  margin-top: 1%;
  text-align: center;
  align-self: center;
  height: 100%;
  border-radius: 20px;
  width: 100%;
  background-color: #00b28c;
  display: inline;
  float: right;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  overflow-y: scroll;
}
.innerContainer::-webkit-scrollbar {
  display: none;
}
.text{
  color: white;
  font-size: 1.1rem;
  margin: 0
}
@media screen and (max-width: 768px) {
  .text{
      color: white;
      font-size: 1.2rem;
      margin: 0
  }}