@import '../../../../styles/app';

.map {
  border-radius: 20px;
  background-clip: padding-box;
  position: relative;
  height: 100%;
  // svg {
  //   height: 500px;
  // }
}
.stats {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 2% 2%;
}

.mapChart {
  border-radius: 20px;
  background-clip: padding-box;
  position: relative;
  // margin: 50 0 0 0;
  height: 100%;
  width: 100%;
}
